:root {
    --base-font-family: "Poppins", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--base-font-family);
    --black: #000;
    --white: #fff;
    --brown: #3c2631;
    --gradient-rbg: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 128, 0, 1) 100%);
}


.container {
    width: 100%;
    height: 100vh;
    background: var(--gradient-rbg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.music-play {
    background-color: var(--black);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: var(--white);
    color: var(--brown);
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}



.song .thumbnail {
    width: 220px;
    border-radius: 50%;
    border: 8px solid var(--white);
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.song .title {
    font-style: 20px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 20px;
}

.song .body {
    font-size: 14px;
    color: var(--white);
}

.progress-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--gradient-rbg);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--gradient-rbg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid var(--white);
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--brown);
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background-color: var(--brown);
    color: var(--white);
}

.play-list {
    position: absolute;
    background:var(--brown);
    width: 250px;
    height: 400px;
    right: -100%;
    border-start-start-radius: 50px;
    border-end-start-radius: 50px;
    transition: right 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.play-list.-is-opend {
    right: 0;
}

.play-list ul {
    list-style: none;
    padding: 25px;
}

.play-list ul li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.3s;
    color: var(--white);
}

.play-list ul li i {
    padding-right: 15px;
}